
.header {
    border:#FBEEC1 2px solid;
    
    padding-bottom: 0px;
    text-align: center; 
    background:linear-gradient(to left, orange,rgb(184, 70, 236),rgba(109, 186, 238, 0.945));
     
    
}
.header h1{
    font-family: "Zen Dots";
    font-size: 50px;
    color:black;
}
  .header img{
      border-radius: 50%;
      height:80px;
      border-radius: 2px black;
  }
  
  @media only screen and (max-width: 600px){
     .header h1{
         font-size: 40px;
         font-family: "Kaushan Script";
         margin:5px;
         justify-content: left;
          
        }
        .header{
            background: linear-gradient(to left, orange,rgb(184, 70, 236),rgba(109, 186, 238, 0.945));
            position:inline-block;
        }
  }